h2{
  text-align: center;
}
.post-btn {
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.posts {
  height:200px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 20px;
  border: 1px solid red;
}
.post-date{
  font-size: 16px;
  /* border: 1px solid; */
  padding: 5px;
  /* background-color: lightblue; */
  color: black;
}
.post-time{
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.post-detail{
  color: #000;
}